/* announce-style.css */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 222, 222);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-radius: 15px;
}

.to-pages-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.redirecting-to-pages-links {
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: orangered;
  font-size: 16px;
  padding: 10px 20px;
}

.redirecting-to-pages-links:hover {  
  background-color: orangered;
  color: white;
  border-radius: 15px;
}

.all-together {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  border-radius: 25px;
}

input[type="file"] {
  display: none;
}

#img-containers {
  background-color: white;
  border: 2px dashed orangered;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  min-height: 300px;
  color: orangered;
  font-size: 16px;
}

span {
  font-weight: bold;
  text-decoration: underline;
}

.announces {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  gap: 50px;
  color: orangered;
  background-color: white;
  padding: 20px 20px;
  border-radius: 15px;
}

#announce-btn, #announce-btn-second {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: orangered;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
}

#announce-btn-second {
  display: none;
}

.announce-qoute {
  font-size: 16px;
}

#waiting-message {
  display: flex;
  font-size: 32px;
  text-align: center;
  color: orangered;
}

#first_reading_n {
  min-height: 300px;
  max-width: 350px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bio-author {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.authors-name {
  font-size: 14px;
  font-weight: bold;
}

.names-role {
  font-size: 14px;
  color: white;
}

.authors-role {
  font-size: 14px;
}

.bio-img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.pic_authors_name {
  display: flex;
  gap: 10px;
}

.read-more {
  background-color: orangered;
  color: white;
  font-size: 16px;
  border: none;
  margin: 10px 20px;
  padding: 5px 7px;
  border-radius: 20px;
}

.read-more:hover, .read-more:active {
  background-color: darkred;
}

#side-uploads {
  background-color: white;
  color: orangered;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  border-radius: 25px;
  gap: 20px;
}

#downloadable-images-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  color: orangered;
}
.logo-name {
  display: flex;
  align-items: center;
  gap: 20px;
  color: orangered;
}
.ess-buttons {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.essential-icons, .essential-icons_1 {
  background-color: transparent;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
}
