* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  height: 100vh;
}

.side-tools {
  background-color: rgb(226, 222, 222);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-name {
  display: flex;
  align-items: center;
  gap: 20px;
  color: orangered;
}

.generation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.choice {
  display: flex;
  align-items: center;
  color: orangered;
  font-weight: 400;
  padding: 10px 0px;
  border-left: 4px solid orangered;
  padding-left: 10px;
}

.quote-to-capture {
  color: gray;
  margin-right: 10px;
}

#prompt-choice {
  font-size: 18px;
  font-weight: bold;
  color: orangered;
  animation: flicker 3.5s infinite alternate;
}

@keyframes flicker {
  0% { opacity: 1; }
  40% { opacity: 0.8; }
  60% { opacity: 0.8; }
  100% { opacity: 1; }
}

#prompt-input-container {
  display: flex;
  background-color: white;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
}

#search-term {
  background-color: transparent;
  border: none;
  min-height: 150px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  text-align: justify;
  width: 100%;
  align-self: baseline;
}
.image-resolution-label {
  color: orangered;
  font-weight: bold;
}

.references {
  font-size: 16px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 15px;
}

.ref-item {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  max-width: 90px;
}

.img-design {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  max-width: 90px;
}

.ref-design {
  color: orangered;
  padding: 15px 15px;
  font-weight: 600;
}

#prompt_gen_button {
  display: flex;
  align-items: center;
  background-color: rgb(255, 69, 0);
  border: none;
  outline: none;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
}

#generate-image {
  background-color: rgb(255, 69, 0);
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.important-buttons {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(128, 128, 128, 0.1);
  color: rgb(255, 69, 0);
}

.important-buttons a {
  text-decoration: none;
  color: orangered;
  font-size: 16px;
}

.generation-page {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ess-buttons {
  display: flex;
  align-items: stretch;
  gap: 20px;
}

#image-container {
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  min-height: 75vh;
  margin: 10px 0px 20px 0px;
  border-radius: 15px;
  background-color: white;
}

.essential-icons, .essential-icons_1 {
  background-color: transparent;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
}

.footer-text {
  color: grey;
}
::placeholder{
  display: flex;
  align-items: center;
  text-align: left;
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}