*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.side-tools {
  background-color: rgb(226, 222, 222);
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.logo-name {
  display: flex;
  align-items: center;
  gap: 20px;
  color: orangered;
}
.generation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*  Choose wether you will use uploaded image or prompt...  */
.choice {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: orangered;
  font-weight: 400;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.qoute-to-capture {
  color: gray;
  margin-right: 20px;
}

#prompt-choice {
  cursor: pointer;
  border: none;
  background-color: orangered;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
}

#prompt-input-container {
  display: flex;
  background-color: white;
  align-items: start;
  gap: 15px;
  border-radius: 15px;
  padding: 20px;
}

#search-term {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: orangered;
  font-size: 16px;
  text-align: justify;
  width: 100%;
  min-height: 150px;
  padding: 0px 10px;
}

/* references to help our AI now exactly what to generate are designed from here.... */
.references {
  color: orangered;
  font-size: 16px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
  border-radius: 15px;
}

#ref_1 {
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.img-design {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  max-width: 90px;
}

.ref-design {
  padding: 10px;
  font-weight: bold;
}

.prompt_gen_button {
  background-color: white;
  color: gray;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}
#generate-image {
  background-color: orangered;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 10px;
}
.important-buttons {
  align-self: baseline;
  display: flex;
  gap: 20px;
  color: orangered;
  margin-left: 15px;
}
/* container designed here!!!!!!!!!!!!!!!! */
.container{
  display: flex;
}
.heading-page{
  min-width: 1000px;
  min-height: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.ess-buttons{
  display: flex;
  gap: 20px;
}
#image-container{
  box-shadow: 0px 0px 10px 1px gray;
  width:96%;
  min-height: 70vh;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}